<!--The content below is only a placeholder and can be replaced.-->

<div class="row mt-5">
    <div class="container">
        <button class="btn btn-primary" routerLink="basic">Basic</button>
        <button class="btn btn-danger ml-3" routerLink="nested">Nested</button>
        <button class="btn btn-warning ml-3" routerLink="array">Array</button>
        <button class="btn btn-success ml-3" routerLink="valid">Valid</button>
    </div>
</div>
<div class="row mt-5" >
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>


